@font-face {
  src: url(../Font/Yekan.ttf);
  font-family: yekan;
}
body {
  all: unset;
  font-family: yekan;
  direction: rtl;
}
.header-content,
.header {
  display: inline-flex;
}

.header-content,
.menu {
  width: auto;
  text-align: center;
}

.header {
  width: 100%;
  background-color: darkred;
}

.text-right-pos{
    right:0 !important;
}


.btn-header:hover{
  border-bottom: rgb(240, 240, 240) solid 2px;
}


.btn-header:focus{
  border-bottom: rgb(240, 240, 240) solid 2px;
}


.phone,
.email,
.text-company,
h1, .footer {
  color: rgb(240, 240, 240);
}

.email-header-send {
  width: 20px;
  height: auto;
}

/*.text-company , h1 {*/
/*  font-weight: bold;*/
/*  font-size: 20px;*/
/*}*/

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 50px;
}

.attributes{
  padding-top:0px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.att-item{
  width: 25rem;
  height: 5rem;
}

.att-item:hover{
  border: 1px grey solid;
}

.slideshow {
  text-align: center;
  direction: ltr;
}

.img {
  height: 420px;
  width: 100%;
}
/*.text-contents {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}*/

a{
  margin: 10px;
  z-index: 1;
}
.contact-us-description{
  width: 50px;
  height: 30px;
}
.div-form{
  left:0px;
}
form{
  left:0;
}
.div-description{
  display : flex;
  align-items : center;
  justify-content: center;  
  border-collapse: separate;
  border-spacing: 5px;
}

textarea{ 
  resize: none;
}
.footer {
  background-color: darkred;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
}
.footer-content{
  word-wrap: none;
}
.footer-links{
  padding-left: 10px;
  padding-right: 10px;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-whatsapp  {
  background:linear-gradient(#25d366,#25d366)15px 84%/15px 15px no-repeat,radial-gradient(#25d366 59%,transparent 0);
  margin-left: 30px;
  border-radius: 50%;
}

.fa-instagram{
  border-radius: 20%;
  background-color: white;
}

.fa-telegram{
  color: #0088CC;
}