@font-face {
  src: url(../Font/Yekan.ttf);
  font-family: yekan;
}
body {
  font-family: yekan;
  background-color: white;
  direction: rtl;
}
.header-content,
.header {
  display: inline-flex;
}

.header-content,
.menu {
  width: auto;
  text-align: center;
}

.header {
  width: 100%;
  background-color: darkred;
}

.phone,
.email,
.text-company,
.footer {
  color: rgb(240, 240, 240);
}

.email-header-send, .email-footer-send {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.text-company {
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  border-bottom: rgb(240, 240, 240) solid 2px;
}
button:focus {
  border-bottom: rgb(240, 240, 240) solid 2px;
}

/* hidden menu */
.menu-with-hamburger {
  size: 10px;
}
#hamburger,
.hamburger-bar {
  margin: 0;
  padding: 0;
}
#hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 18px;
}

#hamburger span:nth-child(3) {
  top: 36px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#menu-content {
  top: 60px;
  position: absolute;
  clear: both;
  width: 100%;
  height: 0;
  background-color: rgb(23, 109, 206);
  transition: 0.5s margin-bottom;
}
.middle {
  clear: both;
}
.slideshow {
  text-align: center;
  direction: ltr;
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.img-slideshow {
  height: 300px;
  width: auto;
}
.text-contents {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}

button {
  margin: 10px;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: darkred;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.footer-content{
  word-wrap: none;
}
.footer-links{
  padding-left: 10px;
  padding-right: 10px;
}
.company-description{
}
.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-whatsapp  {
  color:#fff;
  background:
  linear-gradient(#25d366,#25d366)15px 84%/15px 15px no-repeat,
  radial-gradient(#25d366 59%,transparent 0);
}
.social-networks{
}
.instagram{
  bottom:20px;
  left: 30px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  height: 43px;
  width:42px;
}

.telegram{
  bottom:20px;
  left: 100px;
  position: absolute;
  background-color: white;
  border-radius:70%;
  height: 43px;
  width:42px;
  color: #0088CC;
}
.whatsapp{
  bottom:20px;
  left: 170px;
  position: absolute;
  border-radius:50%;
  height: 42px;
  width:42px;
}
@media only screen and (max-width: 768px) {
  /* MOBILE PHONES */
  .buttons {
    display: none;
    visibility: hidden;
  }
  .menu-with-hamburger {
    visibility: visible;
  }
  .menu-content {
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) {
  /* DESKTOP */
  .menu-with-hamburger {
    display: none;
    visibility: hidden;
  }
  .menu-content {
    display: none;
    visibility: hidden;
  }
}
