/*@media only screen and (max-width: 768px) {
    /* MOBILE PHONES 
    .buttons {
      display: none;
      visibility: hidden;
    }
    .menu-with-hamburger {
      visibility: visible;
    }
    .menu-content {
      visibility: visible;
    }
  }*/