.store{
    margin-right: 100px;
}

.item{
    text-shadow:1px 1px grey ;
    margin-top:70px;
    margin-right: 70px;
}

.img-store{
    width: 250px;
    height: 250px;
}

.img-store:hover{
    transition: border 1s;
    border:1px grey solid;
    width: 250px;
    height: 250px;
}

.text-center{
    text-align: center;
}

.font-text{
    font-family: Arial;
}

